body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: darkgray;
}

#board {
    width: 360px;
    height: 360px;
    background-color: #d8bbbb;
    border: 2px solid #a0512d59;
    /* making sure board is center */
    margin: 0 auto;
    /* making sure tiles don't stack */
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #a0512d91 ;
}